<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="“早安经贸不负晨光ho”参与次数信息查询系统">
<meta name="author" content="JohnserfSeed">
<meta name="web" content="https://github.com/Johnserf-Seed">
<title>“早安经贸不负晨光”参与次数查询系统</title>
<link rel="stylesheet" href="../static/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.bs-docs-home{
    background-color: #1B31B1;
}
*{
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
td{
width:33%;
}
</style>

<script>
$(function() {
    //查询后
    $("#b").click(function() {
        $(this).button('loading').delay(4000).queue(function() {
            try {
                var error = document.getElementById("error");
                var success = document.getElementById("success");
                error.style.display = "none";
                success.style.display = "none";
            } catch (err) {
                $(this).button('reset');
                $(this).dequeue();
            }

            $(this).button('reset');
            $(this).dequeue();
        });
    });
    /**
        if($(".close").display=="none"){
            $(this).button('loading').delay(3000).queue(function() {
                $(this).button('reset');
			    $(this).dequeue(); 
            })
        };**/
});
</script>

<script type="text/javascript">
// 替换指定位置字符
const replaceStr = (str, index, char) => {
    const strAry = str.split('');
    strAry[index] = char;
    return strAry.join('');
}
</script>

<script type="text/javascript">
$(document).ready(function() {
    $.getJSON("/ranks", function(data) {
        var ranks_table = '';
        var ranks_tr = '<th>姓名</th><th>系别</th><th>次数</th>';
        for (var i = 0; i < data.length; i++) {
            ranks_table = ranks_table + '<tr><td>' + replaceStr(data[i][1], 1, '*') + '</td><td>' + data[i][2] + '</td><td>' + data[i][3] + '</td></tr>';
        }
        $('#ranks_t').html(ranks_table); //通过jquery方式获取table，并把tr,td的html输出到table中
    });
});
</script>

<script type="text/javascript">
$(document).ready(function() {
    var index = 1;

    var pre = document.getElementsByClassName('previous disabled');
    var nxt = document.getElementsByClassName('next');
    $(".next").click(function() {
        index += 1;
        console.log(index)
        $(pre).toggleClass("disabled");
        if (index == 5) {
            $(nxt).addClass('next disabled');
        };
        if (index >= 6) {
            index = 5
            $(nxt).addClass('next disabled');
            console.log("到第五页了")
        } else {
            console.log("第", index)
            $.getJSON("/rank?page=" + index, function(data) {
                var ranks_table = '';
                var ranks_tr = '<th>姓名</th><th>系别</th><th>次数</th>';
                for (var i = 0; i < data.length; i++) {
                    ranks_table = ranks_table + '<tr><td>' + replaceStr(data[i][1], 1, '*') + '</td><td>' + data[i][2] + '</td><td>' + data[i][3] + '</td></tr>';
                }
                $('#ranks_t').html(ranks_table); //通过jquery方式获取table，并把tr,td的html输出到table中
            });
        };
    });

    $(".previous").click(function() {
        index -= 1;
        console.log(".previous", index)
        var pre = document.getElementsByClassName('previous');
        var nxt = document.getElementsByClassName('next disabled');
        $(nxt).toggleClass("disabled");
        if (index == 1) {
            $(pre).addClass('previous disabled');
        };
        if (index <= 0) {
            $(pre).addClass('previous disabled');
            index = 1
            console.log("回到第一页了")
        } else {
            $.getJSON("/rank?page=" + index, function(data) {
                var ranks_table = '';
                var ranks_tr = '<th>姓名</th><th>系别</th><th>次数</th>';
                for (var i = 0; i < data.length; i++) {
                    ranks_table = ranks_table + '<tr><td>' + replaceStr(data[i][1], 1, '*') + '</td><td>' + data[i][2] + '</td><td>' + data[i][3] + '</td></tr>';
                }
                $('#ranks_t').html(ranks_table); //通过jquery方式获取table，并把tr,td的html输出到table中
            });
        };
    });
});
</script>

<script type="text/javascript">
$(document).ready(function() {
    let error = document.getElementById("error");
    error.style.display = "none";
    let success = document.getElementById("success");
    success.style.display = "none";

    $("#b").click(function() {
        var uid = $('#number').val();
        console.log(uid);
        $.getJSON("/userProfile", {
                "number": uid,
            },
            function(data) {
                if (data.name == '') {
                    error.style.display = "block";
                    success.style.display = "none";
                    console.log('请求失败!');
                } else {
                    error.style.display = "none";
                    success.style.display = "block";
                    console.log('请求成功!');
                    //var a = $.parseJSON(data);
                    alert('姓名：' + data.name + '\n' + '学号：' + data.number + '\n' + '次数：' + '你已经完成了' + data.counts + '次！' + '\n' + '学院：' + data.college + '\n' + '班级：' + data.class + '\n');

                    let socre = {
                        '1': '0',
                        '2': '0',
                        '3': '0.2',
                        '4': '0.2',
                        '5': '0.2',
                        '6': '0.4',
                        '7': '0.4',
                        '8': '0.4',
                        '9': '0.6',
                        '10': '0.6',
                        '11': '0.6',
                        '12': '0.8',
                        '13': '0.8',
                        '14': '0.8',
                        '15': '1.0',
                        '16': '1.0',
                        '17': '1.0',
                        '18': '1.2',
                        '19': '1.2',
                        '20': '1.2',
                        '21': '1.2',
                        '22': '1.2'
                    };
                    let sports = {
                        '1': '0',
                        '2': '0',
                        '3': '0',
                        '4': '0',
                        '5': '0',
                        '6': '1',
                        '7': '1',
                        '8': '2',
                        '9': '2',
                        '10': '3',
                        '11': '3',
                        '12': '4',
                        '13': '4',
                        '14': '5',
                        '15': '5',
                        '16': '6次封顶',
                        '17': '6次封顶',
                        '18': '6次封顶',
                        '19': '6次封顶',
                        '20': '6次封顶',
                        '21': '6次封顶',
                        '22': '6次封顶'
                    };
                    alert('二选一噢同学们！' + '\n' + '系统推荐你可以选择折算素拓分：' + socre[data.counts] + '分' + '\n' + '系统推荐你可以选择抵免体育次数：' + sports[data.counts] + '次')
                }
            });
    });

    $('.open-app').click(function() {
        let u = navigator.userAgent;
        let isWeixin = u.toLowerCase().indexOf('micromessenger') !== -1; // 微信内
        let isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端
        let isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
        // 微信内
        if (isWeixin) {
            alert('请在手机浏览器上打开！')
        } else {
            //android端
            if (isAndroid) {
                //安卓app的scheme协议
                window.location.href = 'campusnextins://';
                setTimeout(function() {
                        let hidden = window.document.hidden || window.document.mozHidden || window.document.msHidden || window.document.webkitHidden
                        if (typeof hidden == "undefined" || hidden == false) {
                            //应用宝下载地址
                            window.location.href = "https://a.app.qq.com/o/simple.jsp?pkgname=com.wisedu.cpdaily";
                        }
                    },
                    1500);
            }
        }
        //ios端
        if (isIOS) {
            //ios的scheme协议
            window.location.href = 'campusnextins://'
            setTimeout(function() {
                    let hidden = window.document.hidden || window.document.mozHidden || window.document.msHidden || window.document.webkitHidden
                    if (typeof hidden == "undefined" || hidden == false) {
                        //App store下载地址
                        window.location.href = "http://itunes.apple.com/cn/app/id1207509945";
                    }
                },
                1500);
        }
    });

});
</script>
<script>
$(function (){
   $("[data-toggle='popover']").popover({
		animation:true,//淡入淡出
		html:true,//content中插入html
		container:"body",
		content:"<img src='/static/rules.jpg' style='width:250px;height:500px'>",//插入图片的路径 及 样式
	});
});
</script>
</head>

<body class="bs-docs-home">
    <div class="container theme-showcase">
        <h1 style=" line-height:2em;"></h1><br>
        <div class="row">
            <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>🎉“早安经贸不负晨光”参与次数查询系统🎉</strong></h3>
                </div>
                <div class="panel-body">
                    <!--alert alert-danger alert-dismissable-->
					<div class="alert alert-warning alert-dismissable">
                       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong>公告!</strong>数据来源截止2022.12.11)😉</div>
					<div class="alert alert-info alert-dismissable">
                       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong>次数兑换规则</strong>
						<button type="button" class="btn btn-primary" title="次数兑换规则" data-trigger="hover" data-toggle="popover" data-placement="bottom">
							悬浮查看
						</button>
						</div>	
						
                           <div class="form-group">
								<label for="text">请输入你的学号</label>
								<div class="input-group">
									<input type="text" class="form-control" id="number" value="" placeholder="学号">
									<span class="input-group-btn">
										<button class="btn btn-default" id= "b">查询</button>
									</span>
								</div>
                           </div>


                      <div class="json">
						</div>
           
                       <div class="alert alert-danger alert-dismissable" id = "error">
                           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                           <strong>注意!</strong> 没有查到你的信息哦，请检查学号后，再次查询。
                       </div> 
					   
						<div class="alert alert-success" id="success">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>成功！</strong> 查询成功。
						</div>
						
						<!--今日校园跳转-->
                        <a class="open-app">🛴点我跳转到今日校园~</a>
                        <p>
						   
                        <!--排行榜-->
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>打卡排行榜</strong></h3>
                            </div>
                            <div class="panel-body">
                                <strong>🎊恭喜榜上有名的同学🎊</strong>
                            </div>
                            <!--排名、姓名、系别、次数-->
							<table class="table" id="th">
								<th>姓名</th><th>系别</th><th>次数</th>
                            </table>
                            <table class="table" id="ranks_t">
                                <!--<th id = "thid">排名</th><th>姓名</th><th>系别</th><th>次数</th>-->
								
                            </table>
                        </div>

                        <ul class="pager">
                            <li class="previous disabled" id="back"><a class="Page_Back" id ="Page_Back">&larr; 前一页</a></li>
                            <li class="next"><a class="Page_Next" id ="Page_Next">下一页 &rarr;</a></li>
                        </ul>
                        
						<!--
                       <div class="table-responsive">
                           <table border ="0" cellspacing ="0" cellpadding="0" class="table">
                               <tr class=" label-primary">
                                   <th scope="col" width="50%" ><span style="color:white">次数榜</span></th>
                                   <th scope="col"><span style="color:white">成绩</span></th>
                               </tr>
                               <tr class="active">
                                   <td width="50%">≥3 要坚持呐，坚持就是胜利</td>
                                   <td>0.2</td>
                               </tr>
                               <tr class="success">
                                   <td>≥6 很棒哦，你已经是一名晨练人啦</td>
                                   <td>0.4</td>
                               </tr>
                               <tr class="active">
                                   <td>≥9 希望每次的晨练都能看见你哦</td>
                                   <td>0.6</td>
                               </tr>
                               <tr class="success">
                                   <td>≥12 你已经超越了70%的同学啦，再接再厉</td>
                                   <td>0.8</td>
                               </tr> 
							   <tr class="active">
                                   <td>≥15 早安经贸，有你更精彩</td>
                                   <td>1</td>
                               </tr>
							   <tr class="success">
                                   <td>≥18 一日之计在于晨，晨练大佬竟在此</td>
                                   <td>1.2</td>
                               </tr>
							   <tr class="active">
                                   <td>...</td>
                                   <td>...</td>
                               </tr>
                           </table>
                       </div>  -->       
                   </div>
               </div>
           </div>
           <div class="col-sm-3"></div>
        </div>
    </div> 
</body>
</html>